
/* small circle button that fits in the nav bar */
.navButton {
    position: relative;
    float: right;
    display: none;
    text-align: center;

    width: 20px;
    height: 20px;
    top: 3px;
    margin-right: 5px;
    background-color: white;
    color: black;

    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
}

/* small close button */
.closeButton{
    background: url("../img/closeButton.png") 0 0 no-repeat;
}
.closeButton:active {
    background: url("../img/closeButton_active.png") 0 0 no-repeat;
}
.closeButton:hover{
    background: url("../img/closeButton_hover.png") 0 0 no-repeat;
}

/* phone call button */
#phoneCallButton{
    position: relative;
    top: 20px;
    width: 200px;
    height: 50px;
    background-color: lightgrey;
    font-size: 18px;
    padding-top: 12px;
    padding-left: 65px;

    box-shadow:
        0 0 0 1px #3d3d3d,
        0 0 0 2px #717171;

    border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
}
#phoneCallButton:hover{
     background-color: #e5e5e5;
 }
#phoneCallButton:active{
    background-color: #bababa;
    -webkit-box-shadow: inset 0px 0px 30px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 0px 30px 0px rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 30px 0px rgba(0,0,0,0.5);
}
.phoneImage {
    background: url('../img/icons/phone.png') no-repeat;
    position: absolute;
    width: 50px;
    height: 50px;

    border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
}
.phoneImage:hover{
    background: url('../img/icons/phone_hover.png') no-repeat;
}
.phoneImage:active{
    background: url('../img/icons/phone_active.png') no-repeat;
}

/* send email button */
#sendEmailButton{
    position: relative;
    top: 20px;
    width: 255px;
    height: 50px;
    background-color: lightgrey;
    font-size: 18px;
    padding-top: 12px;
    padding-left: 65px;

    box-shadow:
        0 0 0 1px #3d3d3d,
        0 0 0 2px #717171;

    border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
}
#sendEmailButton:hover{
    background-color: #e5e5e5;
}
#sendEmailButton:active{
    background-color: #bababa;
    -webkit-box-shadow: inset 0px 0px 30px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 0px 30px 0px rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 30px 0px rgba(0,0,0,0.5);
}
.emailImage {
    background: url('../img/icons/email.png') no-repeat;
    position: absolute;
    width: 50px;
    height: 50px;

    border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
}
.emailImage:hover{
    background: url('../img/icons/email_hover.png') no-repeat;
}
.emailImage:active{
    background: url('../img/icons/email_active.png') no-repeat;
}



/* social media buttons */
.socialButton {
    position: relative;
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 40px 40px 40px 40px;
    -webkit-border-radius: 40px 40px 40px 40px;
    -webkit-transform: translateZ(0);
}
#linkedIn {
    margin-top: 40px;
    background: url("../img/socialButtons/linkedin.png") no-repeat;
}
#linkedIn:hover {
    background: url("../img/socialButtons/linkedin_hover.png") no-repeat;
}
#linkedIn:active {
    background: url("../img/socialButtons/linkedin_active.png") no-repeat;
}
#gitHub {
    margin-top: 10px;
    background: url("../img/socialButtons/github.png") no-repeat;
}
#gitHub:hover {
    background: url("../img/socialButtons/github_hover.png") no-repeat;
}
#gitHub:active {
    background: url("../img/socialButtons/github_active.png") no-repeat;
}
#faceBook {
    margin-top: 10px;
    background: url("../img/socialButtons/facebook.png") no-repeat;
}
#faceBook:hover {
    background: url("../img/socialButtons/facebook_hover.png") no-repeat;
}
#faceBook:active {
    background: url("../img/socialButtons/facebook_active.png") no-repeat;
}
@media screen and (max-width: 768px) {
    .socialButton {display: inline-block}

    #linkedIn {
        margin-left: 50%;
        left: -80px;
        margin-top: 10px;
    }
    #gitHub {
        margin-left: 50%;
        left: -20px;
        margin-top: -50px;
    }
    #faceBook {
        margin-left: 50%;
        left: 40px;
        top: -75px;
    }
    #tile1 {

    }
}
