/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body{
    background: url("../img/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    overflow: hidden;
}
ul {
    padding: 0;
    list-style-type: none;
}
a{
    text-decoration: none;
}

.overlay {
    display: none;
    position: fixed;
    background-color: white;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: .3;
}

.blueOverlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: darkblue;
    opacity: .3;
}

#mainNav{
    width: 100%;
    height: 20px;
    background-color: black;
    opacity: 0.8;
}
#clock{
    text-align: right;
    margin-right: 10px;
    color: white;
}

/* icon positions */
#terminalBox { top: 150px; }
#resumeBox   { top: 210px; }
#emailBox  { top: 270px; }
#phoneBox { top: 330px; }

#resumeContent{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 26px;
}
#phoneContent{
    display: none;
    position: absolute;
    top: 26px;
    width: 100%;
    height: 204px;
    font-size: 16px;
    color: black;
    padding: 20px;
}
.terminalText{
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}



.navBarSmall {
    position: absolute;
    background-color: #222222;
    width: 100%;
    height: 26px;
    display: none;


    background: rgba(156,156,156,1);
    background: -moz-linear-gradient(top, rgba(156,156,156,1) 0%, rgba(61,61,61,1) 100%);
    background: -webkit-linear-gradient(top, rgba(156,156,156,1) 0%, rgba(61,61,61,1) 100%);
    background: -o-linear-gradient(top, rgba(156,156,156,1) 0%, rgba(61,61,61,1) 100%);
    background: -ms-linear-gradient(top, rgba(156,156,156,1) 0%, rgba(61,61,61,1) 100%);
    background: linear-gradient(to bottom, rgba(156,156,156,1) 0%, rgba(61,61,61,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c9c9c', endColorstr='#3d3d3d', GradientType=0 );


    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
}

#iconSideBar {
    opacity: 0;
    position: fixed;
    background-color: black;
    height: 100%;
    width: 90px;
    top: 0;
    left: 0;

    background: rgba(0,0,0,0.8);
    background: -moz-linear-gradient(left, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.75) 25%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.25) 75%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.75) 25%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.25) 75%, rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.75) 25%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.25) 75%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.75) 25%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.25) 75%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to right, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.75) 25%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.25) 75%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}



#terminalContent {
    display: none;
    position: absolute;
    top: 28px;
    width: 100%;
    height: 93%;
}
#terminalInput {
    outline: none;
    position: relative;
    border: none;
    color: white;
    width: 80%;
    background-color: transparent;
}


#mainContent {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    padding-right:10%;
    padding-left:10%;
}


.smallShadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(113, 113, 113, 0.75);
    -moz-box-shadow: 0 0 10px 0 rgba(113, 113, 113, 0.75);
    box-shadow: 0 0 10px 0 rgba(113, 113, 113, 0.75);
}
.transparent {
    opacity: 0.5;
}



.scrollButton {
    position: relative;
    background-color: black;
    width: 60px;
    height: 60px;
    left: 50%;
    top: 5px;
    margin-left: -30px;

    border-radius: 60px 60px 60px 60px;
    -moz-border-radius: 60px 60px 60px 60px;
    -webkit-border-radius: 60px 60px 60px 60px;
}

#profilePic {
    position: relative;
    background-image: url("../img/profilePic.jpg");
    height: 200px;
    width: 200px;
    margin-top: 30px;


    border-radius: 50px  50px  50px  50px ;
    -moz-border-radius: 50px  50px  50px  50px ;
    -webkit-border-radius: 50px  50px  50px  50px ;

    -webkit-box-shadow: 0 0 30px 0 rgba(28,28,28,0.75);
    -moz-box-shadow: 0 0 30px 0 rgba(28,28,28,0.75);
    box-shadow: 0 0 30px 0 rgba(28,28,28,0.75);

}
.tile {
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;

}

#tile_1, #tile_2, #tile_3 {
    position: relative;
    width: 100%;
    height: 100%;
}


.tileOverlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 20px;
}
.green {
    background-color: #1a7f09;
}
.blue {
    background-color: #1f65ff;
}
.red {
    background-color: #ff5f33;
}
.tileContent {
    position: absolute;
    background-color: white;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    overflow-y: auto;
    opacity: 1.0;
}
.tileTitle {
    width: 100%;
    height: 50px;
    text-align: center;
    color: black;
    font-size: 24px;
    padding-top: 20px;
}
.tileButton {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: black;
    margin: 10px;
    right: 0;
    border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 40px 40px 40px 40px;
    -webkit-border-radius: 40px 40px 40px 40px;
}
.tileClose {
}
.tileBlock {
    background-color: white;
}
.schoolLogo {
    position: inherit;
    width: 300px;
    height: 150px;
    margin-left: 50%;
    left: -150px;
}
.freelanceLogo {
    position: inherit;
    width: 400px;
    height: 400px;
    margin-left: 50%;
    left: -200px;
}
.psuLogo {  background: url('../img/psuLogo.png') no-repeat;  }
.pccLogo { background: url('../img/pccLogo.png') no-repeat; }
.talusLogo { background: url('../img/talusDesignLogo.png') no-repeat; }
.fiveotreeLogo { background: url('../img/fiveotreeLogo.png') no-repeat; }

.courseList {
    width: 70%;
    margin-left: 15%;
    text-decoration: none;
}

.courseInfo {
    position: relative;
    width: 70%;
    margin-left: 15%;
}

#profileBio {
    position: relative;
    margin-top: 30px;
}

#terminalInput { position: relative; }
/* simulated terminal output */
#output1, #output2, #output3, #output4,
#output5, #output6, #output7 {  display: none; }




.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

.stretch {
    height: 100%;
    width: 100%;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
@media screen and (max-width: 768px) {

    .tile {
        height: 300px;
        margin-top: -60px;
        padding-bottom: 110px;
    }
    .tileContent {
        width: 96%;
        height: 94%;
        left: 2%;
        top: 2%;
    }

}
