#preload-01 { background: url('../img/socialButtons/facebook_hover.png') no-repeat -9999px -9999px; }
#preload-02 { background: url('../img/socialButtons/facebook_active.png') no-repeat -9999px -9999px; }
#preload-03 { background: url('../img/socialButtons/linkedin_hover.png') no-repeat -9999px -9999px; }
#preload-04 { background: url('../img/socialButtons/linkedin_active.png') no-repeat -9999px -9999px; }
#preload-05 { background: url('../img/socialButtons/github_hover.png') no-repeat -9999px -9999px; }
#preload-06 { background: url('../img/socialButtons/github_active.png') no-repeat -9999px -9999px; }
#preload-07 { background: url('../img/closeButton_hover.png') no-repeat -9999px -9999px; }
#preload-08 { background: url('../img/closeButton_active.png') no-repeat -9999px -9999px; }
#preload-09 { background: url('../img/closeButton_hover.png') no-repeat -9999px -9999px; }
#preload-10 { background: url('../img/closeButton_active.png') no-repeat -9999px -9999px; }

#preload-11 { background: url('../img/icons/terminal_hover.png') no-repeat -9999px -9999px; }
#preload-12 { background: url('../img/icons/terminal_active.png') no-repeat -9999px -9999px; }
#preload-13 { background: url('../img/icons/resume_active.png') no-repeat -9999px -9999px; }
#preload-14 { background: url('../img/icons/resume_hover.png') no-repeat -9999px -9999px; }
#preload-15 { background: url('../img/icons/email_active.png') no-repeat -9999px -9999px; }
#preload-16 { background: url('../img/icons/email_hover.png') no-repeat -9999px -9999px; }
#preload-17 { background: url('../img/icons/message_active.png') no-repeat -9999px -9999px; }
#preload-18 { background: url('../img/icons/message_hover.png') no-repeat -9999px -9999px; }
#preload-19 { background: url('../img/icons/phone_active.png') no-repeat -9999px -9999px; }
#preload-20 { background: url('../img/icons/phone_hover.png') no-repeat -9999px -9999px; }
